.button-container {
  flex: 1 1 auto;
  text-align: center;
  margin: 0px 20px;
  /* border: var(--button-border); */
  background-color: rgb(0, 87, 201);
  color: white;
  font-size: var(--button-text-size);
  padding: 5px;
  border-radius: 5px;
}

.button-container:hover {
  cursor: pointer;
  background-color: rgb(0, 110, 255);
}
